---
permalink: /
layout: default
title: Home
redirect_from: /dashboard/
---

<section class="background-dark">
  <section>
    <div class="usa-grid">
      <div class="hero-callout hero-callout-primary background-dark usa-width-full usa-width-tablet">
        <h2>Open Data Policy Hub</h2>
        <h3>Your one-stop-shop for learning how to write an open data policy.</h3>
      </div>
    </div>
  </section>
</section>

<section class="usa-section usa-grid">
    <section class="usa-width-two-thirds usa-width-short-one">
      <h3 class="p-line-height p-normal pad-bottom-mobile">Looking to write an open data policy but don't know where to start? Here are four key resources to help you out!</h3>
    </section>
</section>

<section class="usa-grid usa-section posts_feature" id="featured-resources">
  <ul>
    {% include resource-preview.html
       name="Open Data Policy Checklist"
       description="Get started with our step-by-step guide to creating an open data policy. We’ll guide you through setting objectives, drafting language, collecting feedback, implementing the policy, and promoting the policy."
       action="Go through the steps"
       url="/checklist"
    %}
    {% include resource-preview.html
       name="Open Data Policy Generator"
       description="Ready to start writing? Answer a few quick questions and we’ll send you a customized Google Doc with sample language for you to work off of, using our sample policy that incorporates all of our best practices."
       action="Create a policy"
       url="/generator"
    %}
    {% include resource-preview.html
       name="Open Data Policy Guidelines"
       description="We have developed a list of 31 best practices for robust open data policies, covering what data should be public, how to make data public, and how to implement policy."
       action="See the guidelines"
       url="/guidelines"
    %}
    {% include resource-preview.html
       name="Open Data Policy Library"
       description="Want to get a sense of what’s out there already? We’ve assembled a collection of over 100 open data policies from around the country."
       action="Check out existing policies"
       url="/library"
    %}
  </ul>
</section>
