---
layout: default
title: Home
permalink: /home3
---

<section class="background-dark">
  <section>
    <div class="usa-grid">
      <div class="hero-callout hero-callout-primary background-dark usa-width-full usa-width-tablet">
        <h1 id="home-page-title">Welcome to the Open Data Policy Hub</h1>
        <h3>Your one-stop shop for learning how to write an open data policy.</h3>
      </div>
    </div>
  </section>
</section>

<section class="usa-section">
    <section class="usa-grid usa-width-two-thirds usa-width-short-one">
      <h3 class="p-line-height p-normal pad-bottom-mobile">Looking to write an open data policy but don't know where to start? Here are four key resources to help you out!</h3>
    </section>
</section>

<section class="usa-grid usa-section posts_feature" id="featured-resources">
  <ul>
    {% include resource-preview.html
       name="Open Data Policy Step-by-Step"
       description="Get started with our step-by-step guide to creating an open data policy. We’ll guide you through setting objectives, drafting language, collecting feedback, implementing the policy, and promoting the policy."
       action="Go through the steps"
       url="/step-by-step"
    %}
    {% include resource-preview.html
       name="Open Data Policy Generator"
       description="Ready to start writing? Answer a few quick questions and we’ll send you a customized Google Doc with sample language for you to work off of, using our sample policy that incorporates all of our best practices."
       action="Create a policy"
       url="/generator"
    %}
    {% include resource-preview.html
       name="Open Data Policy Guidelines"
       description="We have developed a list of 31 best practices for robust open data policies, covering what data should be public, how to make data public, and how to implement policy."
       action="See the guidelines"
       url="/guidelines"
    %}
    {% include resource-preview.html
       name="Open Data Policy Collection"
       description="Want to get a sense of what’s out there already? We’ve assembled a collection of over 140 open data policies from around the country."
       action="Check out existing policies"
       url="/collection"
    %}
  </ul>
</section>

<section class="usa-section">
  <section class="usa-grid">
    <h2>Background: Why open data?</h2>
    <section>
      <section class="usa-width-two-thirds usa-width-short-one">
        <h4 class="p-line-height p-normal pad-bottom-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec enim nibh, rhoncus nec sapien in, tempus porta lacus.</h4>
        <a class="link-arrow-right post-link-continue_reading" href="{{ site.baseurl}}/open-data-101">
          Learn more about open data
          {% include svg/icons/arrow-right.svg %}
        </a>
      </section>
      <aside class="usa-width-one-third usa-width-shift-one">
      </aside>
    </section>
  </section>
</section>
