---
permalink: /
layout: default
title: Home
redirect_from: /dashboard/
---

<section class="background-dark">
  <section class="hero hero-primary">
    <div class="usa-grid">
      <div class="hero-callout hero-callout-primary background-dark usa-width-one-third usa-width-tablet">
        <h2>Open Data Policy Hub</h2>
        <h3>Your one-stop-shop for learning how to write an open data policy.</h3>
        <!-- <a href="{{ site.baseurl }}/contact/" tabindex="-1"><button class="usa-button usa-button-big usa-button-secondary">Get in touch</button></a> -->
      </div>
    </div>
  </section>
</section>

<!-- <section class="usa-section usa-grid">
  <section class="pad-right-left">
    <div class="home-testimonial">
    We engaged with 18F, and it was a game-changer for us. They came in and helped the IT team and business owners get involved in the agile development process. It changed our whole methodology.
      <span>- Alec Palmer, FEC’s Chief Information Officer</span>
    </div>
  </section>
</section> -->

<section class="usa-section usa-grid">
  <!-- <h2>Some great text</h2> -->
    <section class="usa-width-two-thirds usa-width-short-one">
      <h3 class="p-line-height p-normal pad-bottom-mobile">Looking to write an open data policy but don't know where to start? Here are four key resources to help you out!</h3>
    </section>
</section>

<section class="usa-grid usa-section posts_feature" id="featured-resources">
  <!-- <h2><a href="{{ site.baseurl }}/blog/">Resources:</a></h2> -->
  <ul>
    {% include resource-preview.html
       name="Open Data Policy Checklist"
       description="Get started with our step-by-step guide to creating an open data policy. We’ll guide you through setting objectives, drafting language, collecting feedback, implementing the policy, and promoting the policy."
       action="Go through the steps"
       url="checklist"
    %}
    {% include resource-preview.html
       name="Open Data Policy Generator"
       description="Ready to start writing? Answer a few quick questions and we’ll send you a customized Google Doc with sample language for you to work off of, using our sample policy that incorporates all of our best practices."
       action="Create a policy"
       url="generator"
    %}
    {% include resource-preview.html
       name="Open Data Policy Guidelines"
       description="We have developed a list of 31 best practices for robust open data policies, covering what data should be public, how to make data public, and how to implement policy."
       action="See the guidelines"
       url="guidelines"
    %}
    {% include resource-preview.html
       name="Open Data Policy Library"
       description="Want to get a sense of what’s out there already? We’ve assembled a collection of over 100 open data policies from around the country."
       action="Check out existing policies"
       url="library"
    %}
    <!-- {% for post in site.posts limit:3 %}
      {% include post.html
         post_date=post.date
         post_title=post.title
         post_excerpt=post.excerpt
         post_url=post.url
      %}
    {% endfor %} -->
    <!-- <li class="post usa-width-one-third usa-width-tablet">
      <article>
        <p class="post-date">{{ "2018-07-09" | date: "%B %-d, %Y" }}</p>
        <h3 class="h4 posts_feature-heading">
          <a class="post-link" href="https://sunlightfoundation.com/2018/07/09/new-interactive-tools-community-data-needs/">Use our new tools to learn about community data needs</a>
        </h3>
        <p class="post-excerpt">We’re releasing a list of engagement methods for beginning to understand community needs and a self-assessment quiz for you to check whether you know enough about your community to launch an open data project.</p>
        <p>
          <a class="link-arrow-right post-link-continue_reading" href="https://sunlightfoundation.com/2018/07/09/new-interactive-tools-community-data-needs/">
            Read more
            <span class="usa-sr-only"></span>
            {% include svg/icons/arrow-right.svg %}
          </a>
        </p>
      </article>
    </li>
    <li class="post usa-width-one-third usa-width-tablet">
      <article>
        <p class="post-date">{{ "2018-06-15" | date: "%B %-d, %Y" }}</p>
        <h3 class="h4 posts_feature-heading">
          <a class="post-link" href="https://sunlightfoundation.com/2018/06/15/were-collecting-user-personas-for-open-data-send-us-yours/">We’re collecting user personas for open data — send us yours!</a>
        </h3>
        <p class="post-excerpt">This summer, we’re doing a project to collect all existing examples of cities’ user personas for open data and government websites, and help develop best practices for other cities that are looking to create them.</p>
        <p>
          <a class="link-arrow-right post-link-continue_reading" href="https://sunlightfoundation.com/2018/06/15/were-collecting-user-personas-for-open-data-send-us-yours/">
            Read more
            <span class="usa-sr-only"></span>
            {% include svg/icons/arrow-right.svg %}
          </a>
        </p>
      </article>
    </li>
    <li class="post usa-width-one-third usa-width-tablet">
      <article>
        <p class="post-date">{{ "2018-05-23" | date: "%B %-d, %Y" }}</p>
        <h3 class="h4 posts_feature-heading">
          <a class="post-link" href="https://sunlightfoundation.com/2018/05/23/how-could-open-data-help-austin-texas-better-serve-people-experiencing-homelessness/">How could open data help Austin, Texas better serve people experiencing homelessness?</a>
        </h3>
        <p class="post-excerpt">To understand more about what the city has learned in their process thus far and how they’re thinking about open data as it relates to this work, we interviewed Austin’s Chief Innovation Officer.</p>
        <p>
          <a class="link-arrow-right post-link-continue_reading" href="https://sunlightfoundation.com/2018/05/23/how-could-open-data-help-austin-texas-better-serve-people-experiencing-homelessness/">
            Read more
            <span class="usa-sr-only"></span>
            {% include svg/icons/arrow-right.svg %}
          </a>
        </p>
      </article>
    </li> -->

  </ul>
</section>
