<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h3>{{ include.place_name }}</h3>
      <p>{{ include.place_desc }}</p>
      {% for link in include.links %}
        <p>
          <a href="{{ link[1] }}" class="card-cta link-arrow-right" tabindex="0">
            {{ link[0] }}
            <span class="usa-sr-only">about {{ include.place_name }}</span>
            {% include svg/icons/arrow-right.svg %}
          </a>
        </p>
      {% endfor %}
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% assign place_personas = site.data.personas_list | where: "place", include.place_code %}
        {% for persona in place_personas %}
        {% capture name_string %}{% if persona.name %}{{ persona.name }}{% endif %}{% if persona.age %}, {{ persona.age }}{% endif %}{% endcapture %}
        {% assign image_location = "/assets/img/personas/" | append: persona.image %}
        {% include card.html
          image_src=image_location
          image_alt=project.image_accessibility
          image_icon=project.image_icon
          agency=name_string
          tagline=persona.title
          description=persona.desc
          link=persona.link
        %}
        {% endfor %}
      </div>
    </div>
  </section>
</div>
