<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h3>{{ include.place_title }}</h3>
      {% assign place_info = site.data.personas_place_descrips | where: "place_code", include.place_code | first %}
      {% assign place_desc = place_info | map: "place_desc" %}
      {% assign place_link = place_info | map: "read_more_link" %}
      <p>{{ place_desc }}</p>
      <p>
        <a href="{{ place_link }}" class="card-cta link-arrow-right" tabindex="0">
          Read more
          <span class="usa-sr-only">about {{ include.place_title }}</span>
          {% include svg/icons/arrow-right.svg %}
        </a>
      </p>
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% assign place_personas = site.data.personas_list | where: "place", include.place_code %}
        {% for persona in place_personas %}
        {% capture name_string %}{% if persona.name %}{{ persona.name }}{% endif %}{% if persona.age %}, {{ persona.age }}{% endif %}{% endcapture %}
        {% include card.html
         image_src="/assets/img/personas/newyork-meticulous-mapper.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=name_string
         tagline=persona.title
         description=persona.desc
         link=persona.link
        %}
        {% endfor %}
      </div>
    </div>
  </section>
</div>
