---
title: Library of user personas for open data
permalink: /personas-library/
layout: primary
lead: Explore our collection of awesome stuff
content_wide: true
content_focus: false
banner_cta: true
gridless: true
---

{% include library-place.html place_title="New York, NY" place_code="NYC" %}
{% include library-place.html place_title="Madison, WI" place_code="Madison/Reboot" %}
{% include library-place.html place_title="Columbus, OH" place_code="MORPC" %}
{% include library-place.html place_title="Pittsburgh, PA" place_code="WPRDC" %}
{% include library-place.html place_title="Collections as Data" place_code="collection as data" %}
{% include library-place.html place_title="Austin, TX (General)" place_code="Austin" %}
{% include library-place.html place_title="Austin, TX (Homelessness)" place_code="Austin - Homelessness" %}



<hr>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus ipsum ac nisl suscipit, quis rutrum libero euismod. Vestibulum placerat condimentum pellentesque. Aenean viverra elit ut dui imperdiet semper. Sed pulvinar ligula sit amet purus tristique, sed blandit lorem mollis. Nullam pulvinar mollis eros ornare tempor.</p>
      <br>
      <h3>New York, NY</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus ipsum ac nisl suscipit, quis rutrum libero euismod. Vestibulum placerat condimentum pellentesque. Aenean viverra elit ut dui imperdiet semper. Sed pulvinar ligula sit amet purus tristique, sed blandit lorem mollis. Nullam pulvinar mollis eros ornare tempor:</p>
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% include card.html
         image_src="/assets/img/personas/newyork-meticulous-mapper.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency="Kent, 34"
         tagline="Meticulous Mapper"
         description="Lead Developer at a small civic mapping startup"
         link=project.permalink
        %}
        {% include card.html
         image_src="/assets/img/personas/newyork-local-liaison.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency="Roman, 38"
         tagline="Local Liaison"
         description="Project Manager at a Bronx community services nonprofit"
         link=project.permalink
        %}
        {% include card.html
         image_src="/assets/img/personas/newyork-influential-interpreter.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency="June, 28"
         tagline="Influential Interpreter"
         description="Policy Associate at an eviction-prevention nonprofit"
         link=project.permalink
        %}
        {% include card.html
         image_src="/assets/img/personas/newyork-equipped-explorer.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency="Marcus, 42"
         tagline="Equipped Explorer"
         description="Tech Educator at a college continuing education and workforce program"
         link=project.permalink
        %}
        {% include card.html
         image_src="/assets/img/personas/newyork-busy-bystander.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency="Sarah, 22"
         tagline="Busy Bystander"
         description="Student at Queensborough Community College"
         link=project.permalink
        %}
        {% include card.html
         image_src="/assets/img/personas/newyork-community-champion.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency="Alana, 36"
         tagline="Community Champion"
         description="Lead Organizer at an immigrants’ rights advocacy organization"
         link=project.permalink
        %}
      </div>
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
    <h3>Columbus, OH</h3>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus ipsum ac nisl suscipit, quis rutrum libero euismod. Vestibulum placerat condimentum pellentesque. Aenean viverra elit ut dui imperdiet semper. Sed pulvinar ligula sit amet purus tristique, sed blandit lorem mollis. Nullam pulvinar mollis eros ornare tempor.</p>
   </div>
 </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% assign projects_list = site | find_collection: 'products_projects' | weighted_sort: 'project_weight', 'title' %}
        {% for project in projects_list limit:3 %}
          {% include card.html
           image_src=project.image
           image_alt=project.image_accessibility
           image_icon=project.image_icon
           agency=project.agency
           tagline=project.title
           description=project.excerpt
           link=project.permalink
          %}
        {% endfor %}
      </div>
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
    <h3>Madison, WI</h3>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus ipsum ac nisl suscipit, quis rutrum libero euismod. Vestibulum placerat condimentum pellentesque. Aenean viverra elit ut dui imperdiet semper. Sed pulvinar ligula sit amet purus tristique, sed blandit lorem mollis. Nullam pulvinar mollis eros ornare tempor.</p>
   </div>
 </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% include card.html
         image_src=project.image
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency="Robert, 62"
         tagline="Community Activist"
         description="Lead Developer at a small civic mapping startup"
         link=project.permalink
        %}
        {% include card.html
         image_src=project.image
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency="Anna, 47"
         tagline="Large Nonprofit Project Manager"
         description="Project Manager at a Bronx community services nonprofit"
         link=project.permalink
        %}
        {% include card.html
         image_src=project.image
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency="Barbara, 41"
         tagline="Small Community-Based Organization Director"
         description="Policy Associate at an eviction-prevention nonprofit"
         link=project.permalink
        %}
        {% include card.html
         image_src=project.image
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency="Marcus, 42"
         tagline="Equipped Explorer"
         description="Tech Educator at a college continuing education and workforce program"
         link=project.permalink
        %}
        {% include card.html
         image_src=project.image
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency="Sarah, 22"
         tagline="Busy Bystander"
         description="Student at Queensborough Community College"
         link=project.permalink
        %}
        {% include card.html
         image_src=project.image
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency="Alana, 36"
         tagline="Community Champion"
         description="Lead Organizer at an immigrants’ rights advocacy organization"
         link=project.permalink
        %}
      </div>
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
    <h3>Austin, TX</h3>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus ipsum ac nisl suscipit, quis rutrum libero euismod. Vestibulum placerat condimentum pellentesque. Aenean viverra elit ut dui imperdiet semper. Sed pulvinar ligula sit amet purus tristique, sed blandit lorem mollis. Nullam pulvinar mollis eros ornare tempor.</p>
   </div>
 </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% assign projects_list = site | find_collection: 'products_projects' | weighted_sort: 'project_weight', 'title' %}
        {% for project in projects_list limit:5 %}
          {% include card.html
           image_src=project.image
           image_alt=project.image_accessibility
           image_icon=project.image_icon
           agency=project.agency
           tagline=project.title
           description=project.excerpt
           link=project.permalink
          %}
        {% endfor %}
      </div>
    </div>
  </section>
</div>

<!-- <div class="usa-section background-gray">
  <section class="usa-grid">
    {% assign agency_partners = site.data.agencies %}
    {% assign partner_groups = agency_partners | in_groups: 3 %}
    <h2 id="some-agencies-weve-worked-with">Some agencies we’ve worked with</h2>
    <div class="usa-grid-full">
      <ul class="list-columns">
      {% for group in partner_groups %}
        <li class="usa-width-one-third">
          <ul class="list-columns list-images">
          {% for partner in group %}
            <li class="list-images-item">
              <img class="list-images-image" src="{{ partner.logo | prepend: site.baseurl }}" alt="{{ partner.logo }} logo" />
              {% if partner.agency_url %}
                <a class="list-images-text" href="{{ partner.agency_url | prepend: site.baseurl }}">{{ partner.name }}</a>
              {% else %}
                <span class="list-images-text">{{ partner.name }}</span>
              {% endif %}
            </li>
          {% endfor %}
          </ul>
        </li>
      {% endfor %}
      </ul>
    </div>
  </section>
</div> -->
