---
title: Library of user personas for open data
permalink: /personas-library/
layout: primary
lead: Explore our collection of awesome stuff
content_wide: true
content_focus: false
banner_cta: true
gridless: true
---

{% for place in site.data.personas_places %}
  {% unless place.exclude == true %}
    {% include library-place.html
      place_code=place.place_code
      place_name=place.place_name
      place_desc=place.description
      links=place.links
      %}
  {% endunless %}
{% endfor %}
